/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif; /* Change default font family */
  line-height: 1.6;
  color: #333; /* Default text color */
}

/* Style the header */
header {
  background-color: #5a25d5;
  color: #ffffff;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #f5f5f5; /* Headline color */
}

footer {
  background-color: #5a25d5;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Navigation styling */
nav ul {
  list-style: none;
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration-color: rgb(22, 212, 168);
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* Section styling */
section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

section h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5a25d5; /* Headline color */
}

section p {
  font-size: 16px;
  line-height: 1.6;
  color: #666; /* Text color */
}

section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin: 20px;
  border-radius: 12px; /* Increase border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  border: 2px solid #5a25d5; /* Border color */
  transition: transform 0.3s ease-in-out; /* Add hover effect */
}

section img:hover {
  transform: scale(1.1); /* Enlarge image on hover */
}

/* Button styling */
.button {
  display: inline-block;
  background-color: #753df6;
  color: #ffffff;
  padding: 20px 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45c3ae;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 12px;
    padding: 8px 12px;
  }
}

/* Viewer styling */
.viewer {
  width: 700px;
  height: 400px;
  padding: 10px;
  margin: auto;
}

/* Poster section styling */
#poster-section {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

#poster-section h1 {
  color: #333;
  font-family: 'Pacifico', cursive; /* Change font family */
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.poster-info {
  text-align: left;
  max-width: 300px;
}

.poster-info h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive; /* Change font family */
}

.poster-info p {
  color: #666;
}

.poster-container img,
.video-container video {
  max-width: 70%;
  height: auto;
  rotate: 270deg;
  border-radius: 12px; /* Increase border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out; /* Add hover effect */
}

.poster-container img:hover,
.video-container video:hover {
  transform: scale(1.1); /* Enlarge image on hover */
}

.video-container {
  max-width: 400px;
  margin: auto;
}

/* Winners section styling */
.winners-container {
  margin-top: 40px;
}

.winners-container h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif; /* Change font family */
}

.winner-image {
  display: inline-block;
  margin: 0 10px;
}

.winner-image img {
  max-width: 50%;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Add hover effect */
}

.winner-image img:hover {
  transform: scale(1.1); /* Enlarge image on hover */
}

/* Add styles for the animated GIF */
.animated-gif {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* Add border radius if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow if needed */
}

 
 